 
 #PaneE {
 -fx-background-color:#1E2329;
}
#NomE{
   
    -fx-background-color:#2B3139;
}
#NomE:hover{
     -fx-border-color:#f0b90b;
}
#NomE{
    -fx-text-inner-color:#ffffff;
}
#AdresseE{
   
    -fx-background-color:#2B3139;
}
#AdresseE:hover{
     -fx-border-color:#f0b90b;
}
#AdresseE{
    -fx-text-inner-color:#ffffff;
}
#NumE{
   
 -fx-background-color:#2B3139;
}
#NumE:hover{
     -fx-border-color:#f0b90b;
}
#NumE{
    -fx-text-inner-color:#ffffff;
}
#PrixE{
   
    -fx-background-color:#2B3139;
}
#PrixE:hover{
     -fx-border-color:#f0b90b;
}
#PrixE{
    -fx-text-inner-color:#ffffff;
}
#DdE{
   
    -fx-background-color:#2B3139;
}
#DdE:hover{
     -fx-border-color:#f0b90b;
}
#DdE{
    -fx-text-inner-color:#ffffff;
}
#DfE{
   
    -fx-background-color:#2B3139;
}
#DfE:hover{
     -fx-border-color:#f0b90b;
}
#DfE{
    -fx-text-inner-color:#ffffff;
}
#AjouterE{
 -fx-background-color:#F0B90B;   
}
#AjouterE:hover{
    -fx-border-color:#FDDE4B;
}
#ModifierE{
 -fx-background-color:#F0B90B;   
}
#ModifierE:hover{
    -fx-border-color:#FDDE4B;
}
#ImprimerE{
 -fx-background-color:#F0B90B;   
}
#ImprimerE:hover{
    -fx-border-color:#FDDE4B;
}
#RetourE{
 -fx-background-color:#F0B90B;   
}
#retourE:hover{
    -fx-border-color:#FDDE4B;
}
#IdEU{
   
    -fx-background-color:#2B3139;
}
#IdEU:hover{
     -fx-border-color:#f0b90b;
}
#IdEU{
    -fx-text-inner-color:#ffffff;
}